<!DOCTYPE html>
{% extends 'test/base.html'%}
    {%block body%}
    <div class="jumbotron">


    <div class="container">
      <h1 class='container' aligen='centre'>Rules and Regulations</h1>
      <ul class='container'>
        <li><h3>Rule 1:</h3>hi all rules are these...</li>
        <li><h3>Rule 2:</h3>hi all rules are these...</li>
        <li><h3>Rule 3:</h3>hi all rules are these...</li>
        <li><h3>Rule 4:</h3>hi all rules are these...</li>
        <li><h3>Rule 5:</h3>hi all rules are these...</li>
      </u2>

    </div></div>

    {%endblock%}
